In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
%matplotlib inline

In [3]:
survey_2017 = pd.read_csv('./resources/05_Kaggle_Survey_2017.csv', encoding='latin-1')

courses_2017 = survey_2017[['CoursePlatformSelect']]

#Courses_2017 = (courses_2017['CoursePlatformSelect'].('courseName.str.split(",",expand=True,))

#new = courses_2017["CoursePlatformSelect"].str.split(",", n = 1, expand = True)

#new = courses_2017["CoursePlatformSelect"].str.split(",", n = 1, expand = True)

#new.columns = ["course1","course2"]

new_df = courses_2017['CoursePlatformSelect'].str.split(',',expand=True)

new_df.dropna()

new_df

//anaconda2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              0    1     2     3     4
0           NaN  NaN   NaN   NaN   NaN
1           NaN  NaN   NaN   NaN   NaN
2      Coursera  edX  None  None  None
3           NaN  NaN   NaN   NaN   NaN
4           NaN  NaN   NaN   NaN   NaN
...         ...  ...   ...   ...   ...
16711       NaN  NaN   NaN   NaN   NaN
16712       NaN  NaN   NaN   NaN   NaN
16713       NaN  NaN   NaN   NaN   NaN
16714       NaN  NaN   NaN   NaN   NaN
16715       NaN  NaN   NaN   NaN   NaN

[16716 rows x 5 columns]