In [ ]:
#Importing things
import pandas as pd
import numpy
import os
import matplotlib.pyplot as plt

In [ ]:
df01 = pd.read_csv('./Resources/01_indeed_job_dataset.csv')
df01.head()

In [ ]:
df01= df01[['Queried_Salary','Job_Type','Company_Industry','python','sql','machine learning','r','hadoop','tableau','sas','spark','java','Others','CA','NY','VA','TX','MA','IL','WA','MD','DC','NC','Other_states','Consulting and Business Services','Internet and Software','Banks and Financial Services','Health Care','Insurance','Other_industries']]
df01.head()

In [ ]:
analyst_frame = df01.loc[df01['Job_Type']=='data_analyst']
analyst_frame.head()

In [ ]:
python_count= analyst_frame.python.sum()
r_count= analyst_frame.r.sum()
hadoop_count= analyst_frame.hadoop.sum()
tableau_count= analyst_frame.tableau.sum()
sas_count= analyst_frame.sas.sum()
spark_count= analyst_frame.spark.sum()
java_count= analyst_frame.java.sum()
sql_count= analyst_frame.sql.sum()

print(f'{python_count} {r_count} {hadoop_count} {tableau_count} {sas_count} {spark_count} {java_count}')

In [ ]:
fig, ax01 = plt.subplots(figsize=(12, 12))
plt.rcParams.update({'font.size': 22})
ax01.bar(['Python', 'R', 'SQL','Hadoop', 'Tableau', 'SAS', 'Spark', 'Java'], [python_count,sql_count,r_count,hadoop_count,tableau_count,sas_count,spark_count,java_count])
ax01.set_title("Skills in Demand (2018, Indeed)")
ax01.set_ylabel("Appearances in Data Analyst Jobs")
ax01.set_xlabel("Common Skills")
ax01.annotate(python_count,xy=(-.25,python_count))
ax01.annotate(sql_count,xy=(.75,sql_count))
ax01.annotate(r_count,xy=(1.75,r_count))
ax01.annotate(hadoop_count,xy=(2.75,hadoop_count))
ax01.annotate(tableau_count,xy=(3.75,tableau_count))
ax01.annotate(sas_count,xy=(4.75,sas_count))
ax01.annotate(spark_count,xy=(5.75,spark_count))
ax01.annotate(java_count,xy=(6.75,java_count))
fig.tight_layout()

In [ ]:
fig.savefig('./Graphs/Skills_In_Demand_Indeed.png')